{% extends 'traffic/base.html' %}

{% block content %}
<section id="home" class="section bg-dark">
    <div class="container">
        <h2>Project Overview</h2>
        <p>The main goal of this project is to create
        a digital twin model that can simulate traffic 
        scenarios in an urban environment. 
        This digital twin will help city planners and public 
        service officials make informed, data-driven decisions 
        to optimise traffic flow and improve overall urban 
        infrastructure management.</p>      
            
    </div>

    <div id="map" style="height: 600px;"> 
    </div>



<script>
    var map = L.map('map').setView([51.505, -0.09], 13); // Set initial view to a default location
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);
    
    var drawControl = new L.Control.Draw({
        edit: {
            featureGroup: drawnItems
        },
        draw: {
        polygon: true,
        polyline: false,
        rectangle: true,
        circle: false,
        marker: true,
        circlemarker: false
    }
});
    
    map.addControl(drawControl);
    
    map.on(L.Draw.Event.CREATED, function (event) {
        var layer = event.layer;
        drawnItems.addLayer(layer);
        // You can use the layer to get the selected area coordinates
        console.log(layer.getLatLngs());
    });
    </script>
    
</section>

{% endblock %}

