{% load static %}

    <header>
        <div class="container">
            <h1>Optimizing Urban Futures</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'Home' %}">Home</a></li>
                    <li><a href="{% url 'About' %}">About</a></li>
                    <li><a href="{% url 'project_plan' %}">Project Plan</a></li>
                    <li><a href="{% url 'data_tech' %}">Data and Technology</a></li>
                    <li><a href="{% url 'update' %}">Updates</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

 