{% extends 'traffic/base.html' %}

{% block content %}
<section id="about" class="section bg-light">
    <div class="container">
        <h2>About</h2>
        <p>Meet our team dedicated to making this project a success:</p>
        <div class="team-member">
            <h3>Khushi</h3>
            <p>I am a passionate undergrad skilled in programming languages like Python and Java. I am someone who can adapt to changes and is a great explorer.</p>
            <p>Explored fields: Django, Web Scraping, Pandas, NumPy, NetworkX, Matplotlib, Seaborn.</p>
            <p>Intermediate in DSA</p>
        </div>
        <div class="team-member">
            <h3>Kajal Kumari</h3>
            <p>An undergrad skilled in web development and intermediate in DSA.</p>
            <p>Programming skills: Java, HTML, CSS, JavaScript</p>
        </div>
    </div>
</section>

<!-- chatbot -->
<iframe width="970" height="450" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/fc4987c9-aba4-4426-ab80-0c1c45dbe962"></iframe>

{% endblock %}