{% extends 'traffic/base.html' %}

{% block content %}
<section id="home" class="section bg-dark">
    <div class="container">
        <h2>Project Overview</h2>
        <p>The main goal of this project is to create
        a digital twin model that can simulate traffic 
        scenarios in an urban environment. 
        This digital twin will help city planners and public 
        service officials make informed, data-driven decisions 
        to optimise traffic flow and improve overall urban 
        infrastructure management.</p>      
            
    </div>
</section>

{% endblock %}

